.container {
	background-color: #AF7D7E;
}
.col-sm {

}
.bg-blue {
	background-color: #0100FF;
	color: #FFFFFF;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}
.bg-red {
	background-color: #9E0000;
	color: #FFFFFF;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}


.bgred 
